@model IEnumerable<DiaryClassDataLayer.Models.InformationModel>

@{
    ViewData["Title"] = "GetInfo";
}


    <div class="container">
        <p>
            <a asp-action="CreateInfo">Добавить информацию</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Info)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Info)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a href="/Home/DeleteInfo?id=@item.Id" class="btn btn-outline-danger">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>